#outter {
  position: relative;
  height: 99.6vh;
}
#top-bar {
  width: 100vw;
  height: 60px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 13px;
}

#top-bar div {
  padding: 8px;
}
#top-bar div p:hover {
  cursor: pointer;
  text-decoration: underline;
}

#button-sign-in {
  height: 36px;
  width: 96px;
  color: white;
  text-align: center;
  line-height: 20px;
  background-color: rgb(56, 113, 224);
  border-radius: 5px;
  font-size: 15px;
}

#button-sign-in:hover {
  cursor: pointer;
  background-color: rgb(51, 101, 194);
}

#top-bar span {
  padding: 10px;
}

#top-bar span:hover {
  cursor: pointer;
  background-color: rgb(240, 240, 240);
  border-radius: 50%;
}

.search:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#google-img {
  height: calc(100% - 560px);
  max-height: 290px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#google-img img {
  width: 272px;
  height: 92px;
}

#search-bar {
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 13px;
}

#search-bar img {
  width: 24px;
  height: 24px;
  margin: 10px;
}

#search-bar img:hover {
  cursor: pointer;
}

#search-bar .search {
  display: flex;
  height: 46px;
  border: 1px solid rgb(232, 225, 225);
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  width: 638px;
  width: auto;
  max-width: 584px;
}

#search-bar span {
  color: #9aa0a6;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

#search-bar input {
  max-width: 443px;
  /* background-color: yellow; */
  width: calc(100vw - 100px);
  height: 27px;
  border: none;
  font-size: 16px;
}

#search-bar input:focus {
  background-color: transparent;
}

.search-buttons {
  width: 100%;
  height: 88px;
  gap: 10px;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.search-buttons button {
  border-radius: 3px;
  margin: 11px 4px;
  padding: 0px 16px;
  height: 36px;
  background-color: rgb(248, 249, 250);
  line-height: 36px;
  border: none;
}

.search-buttons button:hover {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-color: red;
  cursor: pointer;
}

#google-offered {
  /* height: 238px; */
  display: flex;
  justify-content: center;
}

#disclaimer {
  padding: 0px 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: red;
}

#google-offered a {
  font-size: 14px;
  text-decoration: none;
}

#bottom {
  position: absolute;
  bottom: 0;
  /* top: 0; */
  right: 0;
  left: 0;
  margin: auto 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh-663px);
}

#bottom-1 {
  padding: 15px 30px;
  color: rgb(113, 117, 121);
  background-color: rgb(242, 242, 242);
  border-bottom: 1px solid #dadce0;
}

#bottom-2 {
  display: flex;
  height: 40px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 10px;
  background-color: rgb(242, 242, 242);
}

.bottom-inner {
  padding: 0px 12px;
}

#bottom-2 a {
  text-decoration: none;
  color: rgb(113, 117, 121);
  padding: 15px;
  font-size: 14px;
  text-align: center;
}

#bottom-2 a:hover {
  text-decoration: underline;
}

#search-input {
  outline: none;
}

input {
  outline: none;
}

.sinhala-tamil {
  color: rgb(70, 63, 182);
}

@media all and (prefers-color-scheme: dark) {
  :root {
    background-color: rgb(32, 33, 36);
    color: white;
  }
  input {
    background-color: rgb(32, 33, 36);
    color: white;
  }

  .search-buttons button {
    background-color: rgb(48, 49, 52);
    color: white;
    border-color: rgb(242, 242, 242);
  }

  .search-buttons button:hover {
    border-color: rgb(242, 242, 242);
    box-shadow: 0px 0px 1px rgba(255, 255, 255, 0.9);
  }

  #search-bar .search {
    border: 1px solid rgb(96, 99, 103);
  }

  .sinhala-tamil {
    color: rgb(146, 178, 241);
  }

  #bottom-1 {
    border-bottom: 1px solid rgb(96, 99, 103);
  }

  #bottom-1,
  #bottom-2 {
    background-color: rgb(23, 23, 23);
    color: rgb(155, 160, 165);
  }

  .search:hover,
  input:hover {
    background-color: rgb(60, 60, 60);
  }
}

@media all and (min-width: 575px) and (max-width: 675px) and (orientation: portrait) {
  /* :root {
    color: blue;
  } */
  #bottom-2 {
    display: flex;
    height: 60px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    background-color: rgb(242, 242, 242);
  }

  @media all and (prefers-color-scheme: dark) {
    #bottom-1,
    #bottom-2 {
      background-color: rgb(23, 23, 23);
      color: rgb(155, 160, 165);
    }
  }
}

@media all and (max-width: 576px) and (orientation: portrait) {
  /* :root {
    color: red;
  } */
  #bottom-2 {
    display: flex;
    height: 60px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 10px;
    background-color: rgb(242, 242, 242);
  }

  #google-img img {
    transform: scale(0.7);
  }

  #google-img {
    height: calc(100% - 560px);
    max-height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  #search-bar img {
    width: 0px;
  }

  #top-bar div:nth-child(3) {
    margin-right: 110px;
  }

  #top-bar i {
    position: absolute;
    left: 0;
    margin-left: 20px;
    transform: scale(1.4);
  }

  #top-bar div:nth-child(2) p {
    display: none;
  }

  #top-bar {
    position: relative;
  }
  #top-bar div:nth-child(2)::before {
    content: "ALL";
    padding-left: 10px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(0, -50%);
    bottom: 0;
    margin: auto auto;
    text-align: center;
    line-height: 30px;
  }

  #top-bar div:nth-child(3) p {
    display: none;
  }
  #top-bar div:nth-child(3)::before {
    content: "IMAGES";
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translate(0, -50%);
    bottom: 0;
    margin: auto auto;
    text-align: center;
    line-height: 30px;
  }

  .search-buttons {
    display: none;
  }

  #search-bar {
    height: 100px;
  }

  .bottom-inner {
    padding: 0px;
  }

  @media all and (prefers-color-scheme: dark) {
    #bottom-1,
    #bottom-2 {
      background-color: rgb(23, 23, 23);
      color: rgb(155, 160, 165);
    }
  }
}

@media all and (min-width: 577px) and (orientation: portrait) {
  #top-bar i {
    display: none;
  }
}

@media all and (max-width: 860px) and (orientation: landscape) {
  /* :root {
    color: red;
  } */

  #google-img {
    margin-top: 100px;
  }

  #google-img img {
    transform: scale(0.6);
  }

  .search-buttons {
    display: none;
  }

  #search-bar {
    height: 30px;
    margin-bottom: 30px;
  }

  #top-bar div:nth-child(3) {
    margin-right: 110px;
  }

  #top-bar i {
    position: absolute;
    left: 0;
    margin-left: 20px;
    transform: scale(1.4);
  }

  #top-bar div:nth-child(2) p {
    display: none;
  }

  #top-bar {
    position: relative;
  }
  #top-bar div:nth-child(2)::before {
    content: "ALL";
    padding-left: 10px;
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translate(0, -50%);
    bottom: 0;
    margin: auto auto;
    text-align: center;
    line-height: 30px;
  }

  #top-bar div:nth-child(3) p {
    display: none;
  }
  #top-bar div:nth-child(3)::before {
    content: "IMAGES";
    position: absolute;
    left: 90px;
    top: 50%;
    transform: translate(0, -50%);
    bottom: 0;
    margin: auto auto;
    text-align: center;
    line-height: 30px;
  }

  #disclaimer {
    height: 70px;
  }
}

@media all and (min-width: 861px) and (orientation: landscape) {
  #top-bar i {
    display: none;
  }
}
